.container
  .card
    a.card__button(href="#open-modal") Incluir Pessoa

  each user, slug in public.data._data
    .card(data-card)
      h4 #{ user.name }
      p #{ user.phone }
      br
      span #{ user.tag1 }
      span #{ user.tag2 }
      span #{ user.tag3 }
